/* ACHTUNG: DIESE DATEI IST NICHT VOLLSTÄNDIG - EINE VOLLSTÄNDIGE LISTE ALLER
            ELEMENTE UND CLASS-ATTRIBUTE MUSS NOCH ERSTELLT WERDEN!
            Gibt es irgendwelche Namenskonventionen?
 */            

/*----------------------------------------------------------------------------*/
/*----                                                                     ---*/
/*---                                                                       --*/
/*--                                Common                                   -*/
/*---                                                                       --*/
/*----                                                                     ---*/
/*----------------------------------------------------------------------------*/


body {  
         font-family: HELVETICA, ARIAL;
         text-align: left;
         font-style: normal;
         font-size: 12pt;
         background-color: white;
         margin-left: 0.5cm;
         margin-right: 0.5cm;
     }
     
p {
         font-family: Helvetica, Arial;
         font-style: normal;   
         font-size: 12pt;
         text-align: left;
  }
  
span.pagenumber {
         color: red;
  }
  
blockquote {
         font-family: monospace;
}
  
sup.footnotelabel {
  color:green;
  font-size: 9pt;
}

  
/*----------------------------------------------------------------------------*/
/*----                                                                     ---*/
/*---                                                                       --*/
/*--                         Front of Document                               -*/
/*---                                                                       --*/
/*----                                                                     ---*/
/*----------------------------------------------------------------------------*/


/*-- Titel der Dissertation --*/
p.title {
         font-family: Helvetica, Arial, Verdana;
         font-style: normal;
         font-size: 18pt;
         text-align: center;
         margin-top: 10;
         text-align:center;
         line-height: 22pt;
        } 

/*-- Autor der Dissertation --*/
p.author {
         text-align: center;
         font-size:  14pt;
         font-weight: demi-bold;
         }
         
/*-- Text "vorgelegt von:" --*/
span.vorgelegtText {
                   }

/*-- Vorname innerhalb des Autors der Dissertation --*/
/*-- (Selbständigkeitserlärung)                    --*/
span.given {
           }
           
/*-- Nachname innerhalb des Autors der Dissertation --*/
/*-- (Selbständigkeitserlärung)                     --*/
span.surname {
             }

/*-- Zusatz innerhalb des Autors der Dissertation --*/
/*-- (Selbständigkeitserlärung)                   --*/
span.suffix {
            }

/*-- Institution von der ein akademischer Grad vergeben wurde  --*/
p.school {
         margin-top: 20pt;
         text-align: center;
         }

/*-- akademischer Grad --*/
p.degree {
         text-align: center;
         }

/*-- Erstellungsdatum des Objektes der Dissertation                 --*/
/*-- type="1" = Abgabe und type="2" = Verteidigung der Dissertation --*/

p.date {
     }

/*-- Text "Datum:" --*/     
span.dateText {
              }
     

/*-- Fakultät --*/
p.major {
         text-align: center;
      }

/*-- Dekan --*/
p.dean {
         text-align: left;
     }
span.deanText {
         font-weight: bold;
              }
     
     

/*-- Gutachter --*/     
p.approvals {
         text-align: left;
          }
          
/*-- Text "Gutachter:" --*/
span.gutachterText {
         font-weight: bold;
                   }


/*-- Dokumenttyp, z.B. Dissertation, Magisterarbeit, Diplomarbeit --*/
p.submission {
         font-family: Verdana, Lucida, Arial, Helvetica;
         margin-top: 60;
         font-weight: demi-bold;
         font-size:  18pt;
         text-align: center;
         color: blue;
           }

/*-- gefördert durch eine Stiftung --*/
p.grant {
      }

/*-- Widmung --*/
p.dedication {
           }

/*-- Urheberrechtsvermerk --*/
p.copyright {
          }

/*-- Motto --*/
p.motto {
      }

/*-- eigene Schlagworte --*/
p.keywords {
         }

span.keywordsText {
         font-weight: bold;
         }

/*-- eigene Schlagworte --*/
p.keyword {
         }
         
/*-- Abstract --*/
p.abstracthead {
         font-weight: bold;
         }

p.abstract {
         }

/*-- Danksagung --*/
p.acknowledgments {
                }

/*-- Selbständigkeitserklärung --*/
p.declaration {
            }

/*-- Anhang --*/
p.appendix {
         }

/*-- Zwischentitel --*/
p.freehead {
         font-weight: bold;         
}         

/*-- Überschriften --/
h3.abbreviation {}
h3.preface {}
h3.summary {}

/*----------------------------------------------------------------------------*/
/*----                                                                     ---*/
/*---                                                                       --*/
/*--                          Body of Document                               -*/
/*---                                                                       --*/
/*----                                                                     ---*/
/*----------------------------------------------------------------------------*/

/*-- Beispiel --*/

p.example {
  }
         
p.examplehead {
         font-weight: bold;
  }

p.mmcaption  {
         background-color:#E0E0E0;
         padding:6px;
         border:0px;
         margin-top:6px;
         margin-bottom:0px;
         margin-left:0px;
         margin-right:0px;
}
p.mmimg  {
         background-color:#F3F3F3;
         padding:6px;
         border:none;
         margin:0px;
         text-align: center;
}
p.mmlegend  {
         background-color:#E0E0E0;
         padding:6px;
         border:0px;
         margin-top:0px;
         margin-bottom:6px;
         margin-left:0px;
         margin-right:0px;
}

table.mm {
         border-spacing:0px;
         padding:0px;
         border:none;
         margin:0px;
}

  
p.dmathcaption  {
         background-color:#E0E0E0;
         padding:6px;
         border:0px;
         margin-top:6px;
         margin-bottom:0px;
         margin-left:0px;
         margin-right:0px;
}
p.dmathimath  {
         background-color:#F3F3F3;
         padding:6px;
         border:none;
         margin:0px;
         text-align: center;
}
p.dmathlegend  {
         background-color:#E0E0E0;
         padding:6px;
         border:0px;
         margin-top:0px;
         margin-bottom:6px;
         margin-left:0px;
         margin-right:0px;
}

table.dmath {
         border-spacing:0px;
         padding:0px;
         border:none;
         margin:0px;
}
  
table.example {
         border-spacing:0px;
         padding:0px;
         margin:0px;
         border-width:0px;
         border-style:solid;
         border-color:#FFFFFF;
}
td.example {
         border-spacing:0px;
         padding:3px;
         margin:0px;
         border-width:1px;
         border-style:solid;
         border-color:#E0E0E0;
}
  

h3.footnoteheader {

}

/*----------------------------------------------------------------------------*/
/*----                                                                     ---*/
/*---                                                                       --*/
/*--                           Bibliographie                                 -*/
/*---                                                                       --*/
/*----                                                                     ---*/
/*----------------------------------------------------------------------------*/



span.name { font-variant:small-caps; }
span.worktitle, span.articletitle, span.serialtitle {
   font-style: italic; 
}         
span.pages { font-weight: bold; }
span.note { font-size: smaller; }
span.law { }
span.citcut { font-weight: bold; }
span.court { font-weight: bold; }
span.bible { font-weight: bold; }
span.editor { }
span.adress { }
span.edition { }
span.volume { }
span.version { }
span.number { }
span.pubdate { }


/*-- Tabellen --*/
p.tablelegend {
         }

p.tablecaption  {
  }


/*----------------------------------------------------------------------------*/
/*-                              Navigation                                  -*/
/*----------------------------------------------------------------------------*/


table.navigation {
  font-family: Verdana, Lucida, Arial, Helvetica;
  font-size: 11pt;
  margin-bottom: 1px;
  background-color:#E0E0E0;
  padding:6px;
  margin:0px; 
  border:none;
}         

td.nav-about {
  text-align: center;
  font-size: 10pt;  
}
            
td.nav-parts {
  text-align: center;
  font-size: 10pt;  
}

.nav-author { font-weight: bold; }
.nav-author {  }

p.navbottom {  
              font-size: 10pt;
}

p.copyrightbottom {
              font-size: 10pt;
}


p.dimldtdbottom {
              font-size: 10pt;
              text-align:center;
}
p.docservbottom {
              font-size: 10pt;
              text-align:center;
}
p.datebottom {
              font-size: 10pt;
              text-align:center;
}

